<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Login' : 'Signup'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)"> 
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <!-- email -->
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input 
            type="email" 
            ngModel name="email"
             required
              email
              #emailCtrl="ngModel"></ion-input>
          </ion-item>
      <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none"> 
     <ion-label> Should be a valid email address.</ion-label>
      </ion-item>
      <!-- password -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
         type="password" 
         ngModel name="password" 
         required minlength="6"
         #pwCtrl="ngModel">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!pwCtrl.valid && pwCtrl.touched" lines="none"> 
        <ion-label> Should be 6 character long.</ion-label>
         </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
    <!-- LOGIN BUTTON -->
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button 
        type="submit" 
        color="primary" 
        (click)="onLogin()" 
        expand="block"
        [disabled]="!f.valid"
        >Login</ion-button> 
     
        <!-- switch to login -->
      
        <ion-button
         type="button"
         color="primary"
          fill="clear"
           expand="block" 
           fill="outline"
           (click)="onSwitchAuthMode()">
           Switch to {{ isLogin ? 'Signup' : 'Login'}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
